# Ignore everything
/*

# Unignore the ignore file
!/.gitignore

# Unignore necessary folders
!/src
!/default

# Unignore necessary files
!/Cargo.lock
!/Cargo.toml

# Unignore other folders

# Unignore other files
!/LICENSE
!/README.md
!/clifi.png